@page "/"

<PageTitle>Home</PageTitle>

<div class="text-center" style="margin-bottom: 20px;">
    <h1>Hello, world!</h1>
    <p class="text-center">
        I'm Todd, a software engineer and game developer.<br>
        I have experience with Unity, Godot, Blender and other tools.<br>
        If you have an awesome project and are interested in hiring me, please reach out!
    </p>
    <hr />
</div>

<div class="text-center">
    <h3>My Games</h3>

    <div class="d-flex justify-content-center flex-wrap" style="margin-bottom: 20px;">
        <div class="card" style="width: 18rem;">
            <img src="/images/fealty-header.jpg" class="card-img-top" alt="The 7th Seal">
            <div class="card-body">
                <h5 class="card-title">Fealty</h5>
                <h6 class="card-subtitle mb-2 text-muted">Made in Unity</h6>
                <p class="card-text">A medieval fantasy, tactical, turn-based strategy game.</p>
                <p class="card-text">Released in 2024.</p>
                <a href="https://store.steampowered.com/app/1770120/Fealty/" class="btn btn-dark"
                   target="_steam"><img src="/images/steam-logo.png" style="width: 16px;" alt="steam logo" /> STEAM</a>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img src="/images/sector7.png" class="card-img-top" alt="The Pirates of Sector 7">
            <div class="card-body">
                <h5 class="card-title">The Pirates of Sector 7</h5>
                <h6 class="card-subtitle mb-2 text-muted">Made with Monogame</h6>
                <p class="card-text">A space pirate adventure inspired by Sid Meier's Pirates!</p>
                <p class="card-text">Released in 2018.</p>
                <a href="https://store.steampowered.com/app/877270/The_Pirates_of_Sector_7/" class="btn btn-dark"
                   target="_steam"><img src="/images/steam-logo.png" style="width: 16px;" alt="steam logo" /> STEAM</a>
                <a href="https://toddmakesgames.itch.io/the-pirates-of-sector-7" class="btn btn-danger"
                   target="_itch"><img src="/images/itchio-logo.png" style="width: 16px;" alt="itch.io logo"/> ITCH</a>
            </div>
        </div>
    </div>

    <h3>Other Projects</h3>

    <div class="d-flex justify-content-center flex-wrap" style="margin-bottom: 20px;">
        <div class="card" style="width: 18rem;">
            <img src="/images/statemachine.png" class="card-img-top" alt="Simple State Machine">
            <div class="card-body">
                <h5 class="card-title">Simple State Machine</h5>
                <h6 class="card-subtitle mb-2 text-muted">Made with C#</h6>
                <p class="card-text">My implementation of the state pattern used in my games.</p>
                <p class="card-text">Compatible with Unity, Godot, etc.</p>
                <a href="https://github.com/toddgibson/StateMachine" class="btn btn-secondary" target="_github"><img src="/images/github-logo.png" style="width: 20px;" alt="github logo" /> GITHUB</a>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img src="/images/portfolio.png" class="card-img-top" alt="Portfolio">
            <div class="card-body">
                <h5 class="card-title">This Website</h5>
                <h6 class="card-subtitle mb-2 text-muted">Made with Blazor</h6>
                <p class="card-text">My very informative portfolio site. Thanks for visiting!</p>
                <p class="card-text">✌️♥️🥓</p>
                <a href="https://dotnet.microsoft.com/en-us/apps/aspnet/web-apps/blazor" target="_blazor" class="btn btn-warning"><img src="/images/blazor-logo.png" style="width: 20px;" alt="blazor" /> BLAZOR</a>
            </div>
        </div>
    </div>
</div>

<div class="text-center">
    <img src="/images/aws-certified-developer-associate.png" alt="AWS Certified!" style="height: 110px;" />
</div>

<div class="text-center" style="min-height: 80px;">
    <div class="contact-item"><strong><img src="/images/mail-logo.png" alt="email me" style="height: 20px;">
        </strong> <a href="mailto: justtoddgibson+portfolio@gmail.com">email me</a>
    </div>
    <div class="contact-item">
        <a href="https://www.linkedin.com/in/justtoddgibson/" target="_contact"><img src="/images/linkedin-logo.png" alt="linked in logo" style="height: 20px;"></a>&nbsp;&nbsp;
        <a href="https://twitter.com/justtoddgibson" target="_contact"><img src="/images/twitter-logo.png" style="height: 20px;" alt="twitter logo"></a>
        <a href="https://github.com/toddgibson" target="_contact"><img src="/images/github-logo.png" style="height: 20px;" alt="github logo"></a>
        <a href="https://www.youtube.com/@@toddmakesgames" target="_contact"><img src="/images/youtube-logo.png" style="height: 20px;" alt="youtube logo"></a>
    </div>
</div>

